In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math

In [2]:
clas6_data = pd.read_csv('clas6/CLAS6.txt', delim_whitespace=True)
clas6_data.head()

,Q2,x,z,pT2,phi,ds_dxdQ2dzdpT2dphi,stat_err,sys_err,rad_cor
0,1.49,0.1468,0.0682,0.0049,170.0,4.1352,1.35320,11.52000,1.1437
1,1.49,0.1468,0.0682,0.0049,190.0,4.1789,1.31050,11.64200,1.1437
2,1.49,0.1468,0.0682,0.0259,10.0,2.9908,0.23221,0.37804,1.0944
3,1.49,0.1468,0.0682,0.0259,30.0,2.8394,0.73036,0.35845,1.1008
4,1.49,0.1468,0.0682,0.0259,50.0,2.6473,0.15669,0.33415,1.1139

In [3]:
clas6_data.drop_duplicates(keep='first')

,Q2,x,z,pT2,phi,ds_dxdQ2dzdpT2dphi,stat_err,sys_err,rad_cor
0,1.49,0.1468,0.0682,0.0049,170.0,4.135200,1.353200,11.520000,1.1437
1,1.49,0.1468,0.0682,0.0049,190.0,4.178900,1.310500,11.642000,1.1437
2,1.49,0.1468,0.0682,0.0259,10.0,2.990800,0.232210,0.378040,1.0944
3,1.49,0.1468,0.0682,0.0259,30.0,2.839400,0.730360,0.358450,1.1008
4,1.49,0.1468,0.0682,0.0259,50.0,2.647300,0.156690,0.334150,1.1139
...,...,...,...,...,...,...,...,...,...
112561,6.61,0.8469,0.4134,0.0259,130.0,0.000072,0.000102,0.000025,1.1381
112562,6.61,0.8469,0.4134,0.0259,150.0,0.000144,0.000176,0.000051,1.1326
112563,6.61,0.8469,0.4134,0.0259,330.0,0.000075,0.000106,0.000026,1.0953
112564,6.61,0.9063,0.1468,0.0049,170.0,0.000121,0.000177,0.000021,0.7854
112565,6.61,0.9063,0.1468,0.0049,250.0,0.000119,0.000174,0.000021,0.8090

In [4]:
M_P = 0.9382720813
beam_energy = 5.75
sqrt_s = math.sqrt(2*M_P*beam_energy)

In [5]:
#for factorized
file = open('clas6/clas6_grids_all.txt','w')
file.write('sqrt_s,x,z,Q,qT_Q\n')
for i,row in clas6_data.iterrows():
    x = row['x']
    z = row['z']
    Q = math.sqrt(row['Q2'])
    qT_Q = math.sqrt(row['pT2'])/z/Q
    file.write('%f,%f,%f,%f,%f\n'%(sqrt_s,x,z,Q,qT_Q))

In [6]:

clas6_grids = pd.read_csv('clas6/clas6_grids_all.txt', delim_whitespace=True)
clas6_grids_unique = clas6_grids.drop_duplicates(keep='first')
clas6_grids_unique.head()

                               sqrt_s,x,z,Q,qT_Q
0   3.284833,0.146800,0.068200,1.220656,0.840854
2   3.284833,0.146800,0.068200,1.220656,1.933180
20  3.284833,0.146800,0.068200,1.220656,3.074278
38  3.284833,0.146800,0.093300,1.220656,0.614643
42  3.284833,0.146800,0.093300,1.220656,1.413107

In [7]:
import csv
clas6_grids_unique.to_csv('clas6/clas6_grids.txt',header= True, index= False, sep = '\t', quoting = csv.QUOTE_NONE, escapechar = ' ')

In [8]:
N_nodes = 36

In [9]:
clas6_grids_forsmall=pd.read_csv('clas6/clas6_grids.txt')
total_line_number = len(clas6_grids_forsmall)
line_number = int(len(clas6_grids_forsmall)/(N_nodes-1))
print(line_number)
last_line_number = len(clas6_grids_forsmall)%(N_nodes-1)
print('line number for last file',last_line_number)
total_line_check = line_number*(N_nodes-1)+last_line_number
print('check origin:',total_line_number,'check after',total_line_check)

216
line number for last file 23
check origin: 7583 check after 7583

In [10]:
#for factorized small files
for i_n in range(1,N_nodes):
    file = open('clas6/inputs/clas6_grids_{}.txt'.format(i_n),'w')
    #file.write('sqrt_s,x,z,Q,qT_Q\n')
    for i,row in clas6_grids_forsmall.iloc[(i_n-1)*line_number:i_n*line_number].iterrows():
        sqrt_s = row['sqrt_s']
        x = row['x']
        z = row['z']
        Q = (row['Q'])
        qT_Q = (row['qT_Q'])
        file.write('%f,%f,%f,%f,%f\n'%(sqrt_s,x,z,Q,qT_Q))

In [12]:
#for traditional
file = open('clas6/clas6_grids_traditional.txt','w')
file.write('SF_Set_Index,Eb,beam_pol,target_pol,x,y,z,ph_t_sq,phih,phi_s,k0\n')
for i,row in clas6_data.iterrows():
    index = 0
    Eb = beam_energy
    beam_pol ='U'
    target_pol = 'U'
    x = row['x']
    Q2 = (row['Q2'])
    s = 2*Eb*M_P
    y = Q2/(s*x)
    z = row['z']
    ph_t_sq = row['pT2']
    phih=row['phi']
    phis=1
    k0=0.01
    file.write('%i,%f,%s,%s,%f,%f,%f,%f,%f,%f,%f\n'%(index,Eb,beam_pol,target_pol,x,y,z,ph_t_sq,phih,phis,k0))

In [14]:
line_number = int(len(clas6_data)/(N_nodes-1))
for i_n in range(1,N_nodes):
    file = open('clas6/inputs/clas6_grids_t_{}.txt'.format(i_n),'w')
    for i,row in clas6_data.iloc[(i_n-1)*line_number:i_n*line_number].iterrows():
        index = 0
        Eb = beam_energy
        beam_pol ='U'
        target_pol = 'U'
        x = row['x']
        Q2 = (row['Q2'])
        s = 2*Eb*M_P
        y = Q2/(s*x)
        z = row['z']
        ph_t_sq = row['pT2']
        phih=row['phi']
        phis=1
        k0=0.01
        file.write('%i,%f,%s,%s,%f,%f,%f,%f,%f,%f,%f\n'%(index,Eb,beam_pol,target_pol,x,y,z,ph_t_sq,phih,phis,k0))